In [2]:
#import necessary modules
import pandas as pd

In [3]:
#read all csv files into pandas DataFrames

reviews=pd.read_csv('/Users/anna/Downloads/reviews.csv.gz',compression='gzip')
listings=pd.read_csv('/Users/anna/Downloads/listings (1).csv',error_bad_lines=False)
neighborhoods=pd.read_csv('/Users/anna/Downloads/neighbourhoods.csv',error_bad_lines=False)

In [4]:
reviews[:100]

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,13913,80770,2010-08-18,177109,Michael,My girlfriend and I hadn't known Alina before ...
1,13913,367568,2011-07-11,19835707,Mathias,Alina was a really good host. The flat is clea...
2,13913,529579,2011-09-13,1110304,Kristin,Alina is an amazing host. She made me feel rig...
3,13913,595481,2011-10-03,1216358,Camilla,"Alina's place is so nice, the room is big and ..."
4,13913,612947,2011-10-09,490840,Jorik,"Nice location in Islington area, good for shor..."
5,13913,4847959,2013-05-28,6405442,Vera,I'm very happy to have been Alina's guest! We'...
6,13913,8142329,2013-10-17,9195551,Honi,I stayed with Alina in her flat in London for ...
7,13913,11876590,2014-04-17,5194009,Alessandro,Alina was a perfect guest and her flat is abso...
8,13913,46669566,2015-09-12,42970248,Oleh,Alina's flat is exceptional one. \r\nI have t...
9,13913,64559033,2016-03-05,45337884,Mo,"The House is a piece of Art , there are beauti..."
10,13913,196153582,2017-09-22,40946748,A,Was great base for my London visit and great s...
11,13913,261305314,2018-05-06,106481379,Daniel,"Alina was an amazing host, simply brilliant. A..."
12,13913,262179591,2018-05-08,99110277,Philippe,The host canceled this reservation 53 days bef...
13,13913,277816069,2018-06-17,31960932,Belinda,Lovely relaxed place to stay. Very friendly an...
14,15400,21032,2009-12-21,53815,Hailey,We loved staying at Phillipa's place in Chelse...
15,15400,109674,2010-10-02,148145,Garth,A comfortable apartment conveniently located n...
16,15400,120941,2010-10-17,112795,CÃ©dric,"I really enjoyed my week at Philippa's, the pl..."
17,15400,192035,2011-03-04,308956,Rob,I am a little late reviewing this but it is im...
18,15400,219843,2011-04-07,427875,Maria,"Very nice flat, and extremely well-located. Gr..."
19,15400,229267,2011-04-17,472341,Lisa,This is a superior option to staying at a hote...
20,15400,242805,2011-04-27,505370,Lorena,Within less than 10 minutes of South Kensingto...
21,15400,458003,2011-08-19,565629,Lim,Wonderful location! 10min stroll to the tube a...
22,15400,488228,2011-08-30,928894,Jennifer,Located in a convenient and central area of Lo...
23,15400,528262,2011-09-13,969713,Valerie,"Delightful, charming hostess. Very clean, and..."
24,15400,553595,2011-09-21,859564,S M,The flat is exactly as it is shown in the phot...
25,15400,635891,2011-10-17,196656,Virginia,Philippa is a wonderful host and a most charmi...
26,15400,680472,2011-11-01,495545,Alessia,My parents came to London and needed a place t...
27,15400,864326,2012-01-16,583352,Carollyn,this is a wonderful little bolt hole in the lo...
28,15400,1027529,2012-03-21,1767934,Melanie,I enjoyed my stay at Phillipa's apartment. It...
29,15400,1064020,2012-03-31,1775383,Brando,We had a wonderful stay in Philippa's apartmen...
...,...,...,...,...,...,...
70,15400,66557008,2016-03-23,8657262,Kirsten,I had an excellent stay in Philippa's flat. Al...
71,15400,69724613,2016-04-12,27385446,Andrew,I stayed in Philippa's apartment for a week wh...
72,15400,76869648,2016-05-29,51941207,Kurt,The flat is amazing. Its close to the bus stop...
73,15400,82154888,2016-06-26,4785780,Kelly,Good communication prior to arrival and Philli...
74,15400,88973916,2016-07-26,1444416,Melanie,I cannot recommend this flat highly enough. It...
75,15400,93909724,2016-08-14,86225506,Ruhi,Perfectly located to explore London city at it...
76,15400,97704669,2016-08-28,20856348,Cristina,I loved my 6-night stay at this adorable apart...
77,15400,99131049,2016-09-03,59200541,Natalia Sol,It was a very nice stay. The apartment is exac...
78,15400,101139155,2016-09-12,18263861,Sharlane,You MUST stay here! I cannot recommend this pl...
79,15400,101988349,2016-09-16,91648685,Mike,"A wonderful find, just off the King's Road. Co..."
80,15400,107551873,2016-10-10,36253984,Carmel,"We knew the area well, so knew how convenient ..."
81,15400,108051657,2016-10-14,92858307,Mary Lou,"What a great location! Super convenient, clean..."
82,15400,109100609,2016-10-19,96743710,Carlos Roberto,"En general fue una buena experiencia, las llav..."
83,15400,109863197,2016-10-23,35019564,Laurent Et StÃ©phanie,Un superbe sÃ©jour : l'appartement est idÃ©aleme...
84,15400,121474840,2016-12-17,95753120,James,This place is perfect for someone needing a ho...
85,15400,124202451,2017-01-01,9891817,(Email hidden by Airbnb),"Super! \nNice apartment, Chelsea is a fantasti..."
86,15400,140874646,2017-04-01,118235523,Carsten,"Beliggenhed, beliggenhed og beliggenhed. Centr..."
87,15400,154393318,2017-05-24,51941207,Kurt,"Beautiful place, close to everything!!"
88,15400,164644012,2017-06-28,100840491,Tim,Excellent host. Convenient and comfortable apa...
89,15400,168732943,2017-07-10,28357890,Kelly,Philippa was lovely and the flat's location wa...
90,15400,200432130,2017-10-05,62297519,Lisa,Philippa's flat is amazing! So close to the b...
91,15400,202250528,2017-10-10,22027723,Timothy,We enjoyed every bit of our stay at Philippa's...
92,15400,239862634,2018-03-03,16945938,Inna,This is a perfect flat for exploring London. C...
93,15400,245006157,2018-03-20,158725324,Shelley,This was a great 1 bedroom flat with all the a...
94,15400,248028439,2018-03-30,16702019,Robert,Perfect stay! Excellent location with the bus ...
95,17402,204492,2011-03-21,348244,Edward,"Amazing location - great apartment, plenty of ..."
96,17402,351501,2011-07-04,626399,Eric,Great place. Less than a 5 minute walk to Warr...
97,17402,541393,2011-09-18,719940,Ana Paula,O apartamento Ã© muito bom e a localizaÃ§Ã£o Ã³tim...
98,17402,593645,2011-10-03,1149659,Barry And Michelle,"The apartment was very clean, easy to use and ..."
99,17402,648636,2011-10-20,562216,Michael,Liz was really great to accomodate our need fo...

In [5]:
listings[:100]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,11551,Stylish and bright London apartment in Zone 2,43039,Adriano,NaN,Lambeth,51.46225,-0.11732,Entire home/apt,88,2,183,2018-08-22,1.65,2,290
1,13913,Holiday London DB Room Let-on going,54730,Alina,NaN,Islington,51.56802,-0.11121,Private room,65,1,14,2018-06-17,0.13,3,362
2,15400,Bright Chelsea Apartment. Chelsea!,60302,Philippa,NaN,Kensington and Chelsea,51.48796,-0.16898,Entire home/apt,100,3,84,2019-04-22,0.74,1,155
3,17402,Superb 3-Bed/2 Bath & Wifi: Trendy W1,67564,Liz,NaN,Westminster,51.52098,-0.14002,Entire home/apt,300,3,40,2019-04-20,0.40,13,230
4,24328,Battersea bedroom & office w parking shared ga...,41759,Joe,NaN,Wandsworth,51.47298,-0.16376,Entire home/apt,175,30,92,2016-09-07,0.89,1,332
5,25023,All-comforts 2-bed flat near Wimbledon tennis,102813,Amanda,NaN,Wandsworth,51.44687,-0.21874,Entire home/apt,65,4,27,2019-03-11,0.70,1,9
6,25123,Clean big Room in London (Room 1),103583,Grace,NaN,Barnet,51.57224,-0.20906,Private room,29,10,119,2019-04-12,1.08,3,220
7,26223,FREE WIFI!! Angel Bright Ap Private Terrace by...,110865,Paulo,NaN,Islington,51.54168,-0.10207,Entire home/apt,147,3,61,2019-03-02,0.59,4,347
8,26682,"Bright, comfortable flat in Chelsea",113354,Kamen,NaN,Kensington and Chelsea,51.48504,-0.18555,Private room,75,1,5,2018-07-08,0.05,1,363
9,31361,"Restful Room, Friendly House, East London",134606,Cryn,NaN,Newham,51.53484,0.02707,Private room,34,1,110,2019-01-02,1.02,2,347
10,33332,Twickenham Stadium & Wimbledon easy reach Ensuite,144444,Chi-Chi,NaN,Hounslow,51.46507,-0.32421,Private room,100,1,4,2018-11-04,0.04,2,362
11,34825,"Zone 1, Dbl Room, Central London",150078,Michael,NaN,Camden,51.52513,-0.11749,Private room,45,1,182,2019-04-27,1.70,1,342
12,36299,Kew Gardens 3BR house in cul-de-sac,155938,Geert,NaN,Richmond upon Thames,51.47934,-0.28066,Entire home/apt,195,3,66,2019-03-29,0.64,1,300
13,36660,You are GUARANTEED to love this,157884,Agri & Roger,NaN,Haringey,51.58461,-0.16170,Private room,72,2,490,2019-05-03,4.66,2,181
14,36986,Gorgeous Victorian Flat Overlooking London Fields,159556,Michael,NaN,Hackney,51.53972,-0.05885,Entire home/apt,80,6,52,2019-03-30,0.49,1,50
15,37384,In the footsteps of William Blake..,161459,Liz,NaN,Southwark,51.46871,-0.06455,Private room,70,2,53,2019-04-13,0.49,1,364
16,38151,Double room/ lounge,163634,Lisa,NaN,Croydon,51.41940,-0.08722,Private room,65,1,0,NaN,NaN,1,365
17,38407,Canary Wharf Immaculate Apt for 2,164566,John,NaN,Tower Hamlets,51.49995,-0.02624,Entire home/apt,79,2,137,2017-04-21,1.31,1,125
18,38605,SUNNY ROOM PRIVATE BATHROOM PLUS BREAKFAST,165579,Elisa & Dom,NaN,Hammersmith and Fulham,51.50687,-0.23328,Private room,62,2,332,2019-05-04,3.20,2,265
19,38610,CHARMING FAMILY HOME SLEEPS 10,165579,Elisa & Dom,NaN,Hammersmith and Fulham,51.50819,-0.23284,Entire home/apt,296,6,26,2019-04-26,0.32,2,26
20,38950,Room 1 Large Double Bedroom - front ground floor,167107,Paul,NaN,Haringey,51.58730,-0.08606,Private room,25,1,0,NaN,NaN,4,90
21,38995,ROOM IN CONTEMPORARY STYLE FLAT,167281,C,NaN,Southwark,51.47892,-0.06040,Private room,45,1,0,NaN,NaN,1,0
22,39387,Stylish bedsit in Notting Hill ish flat.,168920,Alec,NaN,Westminster,51.52589,-0.19942,Private room,29,5,7,2018-07-15,0.12,1,87
23,40228,Room 4 Cosy Double Bedroom on First Floor,167107,Paul,NaN,Haringey,51.58860,-0.08805,Private room,29,1,0,NaN,NaN,4,84
24,41311,Clean big Room in London (Room 2),103583,Grace,NaN,Barnet,51.57375,-0.20890,Private room,25,10,77,2018-05-27,0.73,3,209
25,41445,2 Double bed apartment in quiet area North London,180838,John,NaN,Barnet,51.61648,-0.25788,Entire home/apt,105,4,15,2017-12-31,0.18,1,346
26,41509,Room in maisonette in chiswick,181028,Peter,NaN,Hounslow,51.49157,-0.25600,Private room,49,2,67,2019-03-24,0.70,1,180
27,41712,Room with a view zone 1 Central Bankside,182322,Nina,NaN,Southwark,51.50205,-0.10015,Private room,60,1,80,2019-04-04,0.82,2,0
28,41870,Room in relaxed family house!,182993,Bimpe,NaN,Waltham Forest,51.55842,0.00382,Private room,35,2,2,2011-07-02,0.02,1,0
29,42001,A room with a view in Kensington,183658,Maria,NaN,Hammersmith and Fulham,51.49441,-0.20479,Private room,60,2,155,2019-04-28,1.45,3,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,73431,Dbl Room in Luxury Flat with City Views in Bri...,383525,Emi,NaN,Lambeth,51.46295,-0.11200,Private room,52,3,54,2018-07-21,0.78,1,0
71,74954,Double room in airy modern flat 15 mins to C Ldn,102034,Richard,NaN,Wandsworth,51.44350,-0.19039,Private room,25,2,24,2019-04-23,0.28,1,36
72,75120,A Fab Family house in Kensington,183658,Maria,NaN,Hammersmith and Fulham,51.49389,-0.20418,Entire home/apt,400,2,106,2019-04-20,1.29,3,302
73,75995,Modern One Bed Apartment,404548,Dan,NaN,Tower Hamlets,51.53025,-0.07362,Entire home/apt,93,7,69,2018-12-30,1.17,1,185
74,76440,Bed&Breakfast in my Little House,407951,Alison,NaN,Newham,51.54367,0.01051,Private room,35,3,204,2019-04-21,2.05,2,0
75,76623,Spacious 2 Bedroom Getaway w Terrace WIFI by BDC,110865,Paulo,NaN,Islington,51.54250,-0.10211,Entire home/apt,227,2,50,2019-04-04,0.51,4,325
76,76932,VACATIONS / HOLIDAYS IN LONDON ?,196620,Fay,NaN,Westminster,51.52506,-0.18450,Entire home/apt,200,1,24,2018-12-10,0.28,3,361
77,78606,Peaceful Room Near Epping Forest,422362,Nicola,NaN,Waltham Forest,51.57157,0.01088,Private room,45,1,0,NaN,NaN,1,365
78,78892,Bright single room in family home.,424230,Julia,NaN,Southwark,51.46452,-0.07970,Private room,32,3,53,2019-03-21,1.05,1,1
79,79129,Double Room 2 Miles from Wimbledon in Morden SM4,425764,Danielle,NaN,Merton,51.39711,-0.21342,Private room,35,1,115,2019-03-29,1.43,1,307
80,79216,"2 twin beds in dble rm, Catford, UK",426378,Thesla,NaN,Lewisham,51.43828,-0.01975,Private room,50,3,0,NaN,NaN,1,365
81,79488,Charming Apartment Amazing Location,428080,Christopher,NaN,Westminster,51.51870,-0.16726,Entire home/apt,140,7,7,2019-01-01,0.43,1,246
82,79571,Chelsea Studio by Kings Road London,428600,Nicholas,NaN,Kensington and Chelsea,51.49170,-0.16183,Entire home/apt,85,2,13,2017-07-03,0.13,1,0
83,80123,Pretty Self Contained Coach House,432648,Melanie,NaN,Wandsworth,51.45330,-0.15646,Entire home/apt,95,2,119,2019-04-18,1.24,1,58
84,81015,DOUBLE ROOM,269609,Trudi,NaN,Croydon,51.40092,-0.10452,Private room,35,1,0,NaN,NaN,2,365
85,81052,Bright spacious 2 bed in Islington,438948,Aslak,NaN,Islington,51.53924,-0.10209,Entire home/apt,133,6,10,2018-04-06,0.14,1,0
86,81080,Luxury Self contained Studio Apt.,439154,Lucy,NaN,Richmond upon Thames,51.40692,-0.33450,Entire home/apt,180,2,6,2019-04-09,0.36,5,306
87,81211,Hampstead Home from home in great area.,439880,Liz,NaN,Camden,51.54838,-0.16344,Entire home/apt,125,14,7,2018-07-27,0.10,1,288
88,81239,Live right on the famous Broadway Market sleeps 6,423650,Mia,NaN,Hackney,51.53585,-0.06178,Entire home/apt,165,3,60,2016-07-27,0.62,1,25
89,81410,LUx inCENTRAL LONDON NEAR OXFORD ST,441494,Fernando,NaN,Westminster,51.52123,-0.14033,Entire home/apt,360,2,177,2019-04-20,1.85,6,253
90,81449,Stylish Central London Entire Flat,441736,Kris,NaN,Tower Hamlets,51.51163,-0.06680,Entire home/apt,121,2,183,2019-04-05,1.88,2,322
91,81470,3 bedroom / 2 Bathroom house in West London,441886,William & Emilia,NaN,Hammersmith and Fulham,51.49710,-0.23354,Entire home/apt,300,4,76,2018-10-20,0.79,4,80
92,81473,"Lush room in Crystal Palace, London",441881,Petra,NaN,Bromley,51.41642,-0.07645,Private room,40,2,56,2018-12-17,0.57,1,89
93,81635,"Clerkenwell penthouse, huge terrace",443041,Carol,NaN,Islington,51.52842,-0.11141,Private room,99,2,49,2018-10-18,0.68,2,302
94,81951,LONDON DETACHED HOUSE*ElecGates etc,445322,Richard,NaN,Havering,51.58519,0.15639,Entire home/apt,190,5,0,NaN,NaN,1,364
95,82272,New Room Central LondonZone1Balcony,447486,Mary,NaN,Southwark,51.49089,-0.09879,Private room,48,1,189,2019-03-02,1.93,8,125
96,83304,Stunning large bright 2 bedroom+2 lounges,454043,Karen,NaN,Islington,51.55934,-0.13147,Entire home/apt,90,90,16,2019-04-22,0.25,2,152
97,83308,Luxury Queens Park Apartment,454121,Bradley,NaN,Brent,51.53720,-0.19262,Entire home/apt,120,3,30,2018-07-03,0.45,2,0
98,83537,Double room in leafy Central London,148156,Joyce,NaN,Islington,51.55870,-0.09234,Private room,42,4,5,2018-06-25,0.05,2,365
99,84223,Ideal for Urban Explorers *5 star Designer home,460272,Antonia Clare,NaN,Southwark,51.48656,-0.10654,Private room,57,1,318,2019-05-01,3.24,4,287

In [6]:
neighborhoods[:100]

    neighbourhood_group           neighbourhood
0                   NaN    Barking and Dagenham
1                   NaN                  Barnet
2                   NaN                  Bexley
3                   NaN                   Brent
4                   NaN                 Bromley
5                   NaN                  Camden
6                   NaN          City of London
7                   NaN                 Croydon
8                   NaN                  Ealing
9                   NaN                 Enfield
10                  NaN               Greenwich
11                  NaN                 Hackney
12                  NaN  Hammersmith and Fulham
13                  NaN                Haringey
14                  NaN                  Harrow
15                  NaN                Havering
16                  NaN              Hillingdon
17                  NaN                Hounslow
18                  NaN               Islington
19                  NaN  Kensington and Chelsea
20                  NaN    Kingston upon Thames
21                  NaN                 Lambeth
22                  NaN                Lewisham
23                  NaN                  Merton
24                  NaN                  Newham
25                  NaN               Redbridge
26                  NaN    Richmond upon Thames
27                  NaN               Southwark
28                  NaN                  Sutton
29                  NaN           Tower Hamlets
30                  NaN          Waltham Forest
31                  NaN              Wandsworth
32                  NaN             Westminster

In [7]:
#now we check for null values and outliers

listings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80767 entries, 0 to 80766
Data columns (total 16 columns):
id                                80767 non-null int64
name                              80740 non-null object
host_id                           80767 non-null int64
host_name                         80718 non-null object
neighbourhood_group               0 non-null float64
neighbourhood                     80767 non-null object
latitude                          80767 non-null float64
longitude                         80767 non-null float64
room_type                         80767 non-null object
price                             80767 non-null int64
minimum_nights                    80767 non-null int64
number_of_reviews                 80767 non-null int64
last_review                       60194 non-null object
reviews_per_month                 60194 non-null float64
calculated_host_listings_count    80767 non-null int64
availability_365                  80767 non-null int64
dtypes: float64(4), int64(7), object(5)
memory usage: 10.5+ MB

In [8]:
#we see that columns 'last_review' and 'reviews_per_month' have null values. 
#we further look into this by checking the minimum number of reviews 

min(listings.number_of_reviews)

0

In [10]:
#now we know that not all listings in the data have reviews. 
#we then look into our reviews data and check 

reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1249466 entries, 0 to 1249465
Data columns (total 6 columns):
listing_id       1249466 non-null int64
id               1249466 non-null int64
date             1249466 non-null object
reviewer_id      1249466 non-null int64
reviewer_name    1249466 non-null object
comments         1249039 non-null object
dtypes: int64(3), object(3)
memory usage: 66.7+ MB

In [22]:
#we see that there are null values in the comment section.
#since this is just .03% of the data, we can ignore it and remove it

reviews=reviews.dropna()

In [23]:
#we check how many listings have reviews in this data (and confirm that not all listings have reviews)

reviews.listing_id.nunique()

59263

In [15]:
#our outliers are now listings that are inactive, so we drop them from our data

inactive=listings.loc[listings.availability_365==365]
inactive.set_index('id',inplace=True)
listings.set_index('id',inplace=True)
new_listings=listings.drop(inactive.index,axis=0)
new_listings

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
11551,Stylish and bright London apartment in Zone 2,43039,Adriano,NaN,Lambeth,51.46225,-0.11732,Entire home/apt,88,2,183,2018-08-22,1.65,2,290
13913,Holiday London DB Room Let-on going,54730,Alina,NaN,Islington,51.56802,-0.11121,Private room,65,1,14,2018-06-17,0.13,3,362
15400,Bright Chelsea Apartment. Chelsea!,60302,Philippa,NaN,Kensington and Chelsea,51.48796,-0.16898,Entire home/apt,100,3,84,2019-04-22,0.74,1,155
17402,Superb 3-Bed/2 Bath & Wifi: Trendy W1,67564,Liz,NaN,Westminster,51.52098,-0.14002,Entire home/apt,300,3,40,2019-04-20,0.40,13,230
24328,Battersea bedroom & office w parking shared ga...,41759,Joe,NaN,Wandsworth,51.47298,-0.16376,Entire home/apt,175,30,92,2016-09-07,0.89,1,332
25023,All-comforts 2-bed flat near Wimbledon tennis,102813,Amanda,NaN,Wandsworth,51.44687,-0.21874,Entire home/apt,65,4,27,2019-03-11,0.70,1,9
25123,Clean big Room in London (Room 1),103583,Grace,NaN,Barnet,51.57224,-0.20906,Private room,29,10,119,2019-04-12,1.08,3,220
26223,FREE WIFI!! Angel Bright Ap Private Terrace by...,110865,Paulo,NaN,Islington,51.54168,-0.10207,Entire home/apt,147,3,61,2019-03-02,0.59,4,347
26682,"Bright, comfortable flat in Chelsea",113354,Kamen,NaN,Kensington and Chelsea,51.48504,-0.18555,Private room,75,1,5,2018-07-08,0.05,1,363
31361,"Restful Room, Friendly House, East London",134606,Cryn,NaN,Newham,51.53484,0.02707,Private room,34,1,110,2019-01-02,1.02,2,347
33332,Twickenham Stadium & Wimbledon easy reach Ensuite,144444,Chi-Chi,NaN,Hounslow,51.46507,-0.32421,Private room,100,1,4,2018-11-04,0.04,2,362
34825,"Zone 1, Dbl Room, Central London",150078,Michael,NaN,Camden,51.52513,-0.11749,Private room,45,1,182,2019-04-27,1.70,1,342
36299,Kew Gardens 3BR house in cul-de-sac,155938,Geert,NaN,Richmond upon Thames,51.47934,-0.28066,Entire home/apt,195,3,66,2019-03-29,0.64,1,300
36660,You are GUARANTEED to love this,157884,Agri & Roger,NaN,Haringey,51.58461,-0.16170,Private room,72,2,490,2019-05-03,4.66,2,181
36986,Gorgeous Victorian Flat Overlooking London Fields,159556,Michael,NaN,Hackney,51.53972,-0.05885,Entire home/apt,80,6,52,2019-03-30,0.49,1,50
37384,In the footsteps of William Blake..,161459,Liz,NaN,Southwark,51.46871,-0.06455,Private room,70,2,53,2019-04-13,0.49,1,364
38407,Canary Wharf Immaculate Apt for 2,164566,John,NaN,Tower Hamlets,51.49995,-0.02624,Entire home/apt,79,2,137,2017-04-21,1.31,1,125
38605,SUNNY ROOM PRIVATE BATHROOM PLUS BREAKFAST,165579,Elisa & Dom,NaN,Hammersmith and Fulham,51.50687,-0.23328,Private room,62,2,332,2019-05-04,3.20,2,265
38610,CHARMING FAMILY HOME SLEEPS 10,165579,Elisa & Dom,NaN,Hammersmith and Fulham,51.50819,-0.23284,Entire home/apt,296,6,26,2019-04-26,0.32,2,26
38950,Room 1 Large Double Bedroom - front ground floor,167107,Paul,NaN,Haringey,51.58730,-0.08606,Private room,25,1,0,NaN,NaN,4,90
38995,ROOM IN CONTEMPORARY STYLE FLAT,167281,C,NaN,Southwark,51.47892,-0.06040,Private room,45,1,0,NaN,NaN,1,0
39387,Stylish bedsit in Notting Hill ish flat.,168920,Alec,NaN,Westminster,51.52589,-0.19942,Private room,29,5,7,2018-07-15,0.12,1,87
40228,Room 4 Cosy Double Bedroom on First Floor,167107,Paul,NaN,Haringey,51.58860,-0.08805,Private room,29,1,0,NaN,NaN,4,84
41311,Clean big Room in London (Room 2),103583,Grace,NaN,Barnet,51.57375,-0.20890,Private room,25,10,77,2018-05-27,0.73,3,209
41445,2 Double bed apartment in quiet area North London,180838,John,NaN,Barnet,51.61648,-0.25788,Entire home/apt,105,4,15,2017-12-31,0.18,1,346
41509,Room in maisonette in chiswick,181028,Peter,NaN,Hounslow,51.49157,-0.25600,Private room,49,2,67,2019-03-24,0.70,1,180
41712,Room with a view zone 1 Central Bankside,182322,Nina,NaN,Southwark,51.50205,-0.10015,Private room,60,1,80,2019-04-04,0.82,2,0
41870,Room in relaxed family house!,182993,Bimpe,NaN,Waltham Forest,51.55842,0.00382,Private room,35,2,2,2011-07-02,0.02,1,0
42001,A room with a view in Kensington,183658,Maria,NaN,Hammersmith and Fulham,51.49441,-0.20479,Private room,60,2,155,2019-04-28,1.45,3,17
42010,You Will Save Money Here,157884,Agri & Roger,NaN,Barnet,51.58611,-0.16272,Private room,45,2,463,2019-05-05,4.41,2,284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34433262,SUPER CENTRAL LONDON NEXT *KINGS CROSS*EUSTON 205,112509686,Ivan & Family,NaN,Camden,51.53141,-0.13057,Entire home/apt,55,1,0,NaN,NaN,25,106
34433286,Airy room in Shoreditch,195744932,Kipras,NaN,Hackney,51.53157,-0.06948,Private room,39,1,0,NaN,NaN,1,0
34433931,Lovely 1 bedroom flat in Nottinghill /Holland ...,88320998,Nicolo,NaN,Kensington and Chelsea,51.51346,-0.20993,Entire home/apt,110,2,0,NaN,NaN,1,190
34434142,Amazing 3 Floor House Close to Central London,42274268,Amanda,NaN,Hammersmith and Fulham,51.49509,-0.23369,Entire home/apt,164,2,0,NaN,NaN,2,130
34434494,The Hatton House private rooms,35424755,C & P,NaN,Hounslow,51.46229,-0.42809,Private room,45,1,0,NaN,NaN,31,357
34435094,Double Room with Private Conservatory and Garden!,152674596,DaphnÃ©,NaN,Camden,51.53942,-0.13308,Private room,70,1,0,NaN,NaN,1,8
34435133,Private room and bathroom - shared home,36988526,Lina,NaN,Barnet,51.59162,-0.24810,Private room,35,1,0,NaN,NaN,1,49
34435314,Relocating : Excellent place to start!,9240658,Mary,NaN,Tower Hamlets,51.49565,-0.01155,Private room,40,14,0,NaN,NaN,22,111
34435328,Luxury / Comfortable One Bedroom Apartment,160286641,Pishu,NaN,Barnet,51.59545,-0.21935,Entire home/apt,75,2,0,NaN,NaN,3,264
34435335,Cool apartment with lots of sun and nice vibes,846685,Samiyat,NaN,Hackney,51.55700,-0.05816,Entire home/apt,80,3,0,NaN,NaN,1,343
34435447,Relaxed & Spacious 4-bed house with fireplaces...,21285361,Anu,NaN,Waltham Forest,51.56816,-0.01660,Entire home/apt,129,3,0,NaN,NaN,1,30
34435560,"Luxury and clean 2 bed flat, knightsbridge",257764335,Ali,NaN,Westminster,51.49941,-0.16655,Entire home/apt,350,3,0,NaN,NaN,2,173
34435692,Monsabot,90985408,Debra,NaN,Richmond upon Thames,51.41020,-0.36899,Entire home/apt,100,2,0,NaN,NaN,1,36
34435728,DOUBLE ROOM NEXT TO HYDE PARK/OXFORD STREET,259452180,Minha,NaN,Westminster,51.51275,-0.16627,Private room,55,1,0,NaN,NaN,3,344
34435930,Bright lovely double room,24961770,Elif,NaN,Hammersmith and Fulham,51.49685,-0.21157,Private room,26,7,0,NaN,NaN,2,357
34435933,CHELSEA * GORGEOUS Family Home * ZONE 1 * AIR CON,90430288,Ema & Simon,NaN,Kensington and Chelsea,51.48580,-0.18136,Entire home/apt,180,2,0,NaN,NaN,7,88
34435935,"Unit, with Open Space and brighter",259893733,Fabien,NaN,Tower Hamlets,51.54340,-0.02180,Entire home/apt,72,1,0,NaN,NaN,1,4
34436151,Luxury 2 bed apartment opposite harrods,257764335,Ali,NaN,Kensington and Chelsea,51.49826,-0.16610,Entire home/apt,350,5,0,NaN,NaN,2,28
34436478,Modern apartment to rent in City of Westminster,258774559,Walkyne,NaN,Westminster,51.51032,-0.12979,Private room,200,1,0,NaN,NaN,1,173
34437254,Well equipped close to Holborn and Central,6134944,Megan,NaN,Southwark,51.49722,-0.04918,Entire home/apt,190,1,0,NaN,NaN,2,65
34437329,En-suite Double Bedroom in Beautiful Family Home,86065206,Koray,NaN,Bromley,51.41543,-0.01916,Private room,45,6,0,NaN,NaN,1,24
34437443,Modern Shoreditch home,57023347,Jesper,NaN,Tower Hamlets,51.53107,-0.05912,Entire home/apt,99,3,0,NaN,NaN,1,17
34438534,Luxury Chelsea 3 Bedroom Penthouse Apartment,39528507,Michael,NaN,Hammersmith and Fulham,51.47319,-0.18235,Entire home/apt,295,1,0,NaN,NaN,2,173
34439605,Beautifully maintained apartment in Central Lo...,259977386,Neil,NaN,Westminster,51.52182,-0.14221,Entire home/apt,200,14,0,NaN,NaN,1,252
34439755,Alaska Apartments,18733533,Rafael,NaN,Newham,51.50903,0.01735,Private room,60,2,0,NaN,NaN,1,141
34440357,Large Top flat Kensington /Hyde Park/Nottinghill,252625478,Lucy,NaN,Kensington and Chelsea,51.50501,-0.19099,Entire home/apt,99,3,0,NaN,NaN,2,25
34441795,2 Bedroom apartment in Camden Road,15686300,Dorelly,NaN,Islington,51.55474,-0.11746,Entire home/apt,117,2,0,NaN,NaN,7,121
34442106,Bright & spacious room in the heart of Shoredi...,36016982,Deanna,NaN,Islington,51.52744,-0.08924,Private room,54,2,0,NaN,NaN,1,341
34442320,*CAMDEN STUDIO FLAT* PERFECT LOCATION! BRIGHT.**,88165643,Lydia,NaN,Camden,51.53427,-0.13940,Entire home/apt,125,2,0,NaN,NaN,1,173
34443594,"Lovely sunny spacious, quiet apartment, garden.",14751856,Jay Purcell,NaN,Croydon,51.39914,-0.12177,Entire home/apt,25,30,0,NaN,NaN,2,75

In [20]:
print(set(new_listings.neighbourhood))
print(len(set(new_listings.neighbourhood)))

set(['Lambeth', 'Southwark', 'Kensington and Chelsea', 'Greenwich', 'Kingston upon Thames', 'Lewisham', 'Islington', 'Barnet', 'Hammersmith and Fulham', 'Westminster', 'Newham', 'Enfield', 'City of London', 'Wandsworth', 'Merton', 'Haringey', 'Harrow', 'Hackney', 'Hounslow', 'Barking and Dagenham', 'Havering', 'Waltham Forest', 'Hillingdon', 'Bexley', 'Ealing', 'Sutton', 'Bromley', 'Redbridge', 'Tower Hamlets', 'Croydon', 'Camden', 'Richmond upon Thames', 'Brent'])
33

In [26]:
#confirm that all neighborhoods are represented in our listings data

neighborhoods

    neighbourhood_group           neighbourhood
0                   NaN    Barking and Dagenham
1                   NaN                  Barnet
2                   NaN                  Bexley
3                   NaN                   Brent
4                   NaN                 Bromley
5                   NaN                  Camden
6                   NaN          City of London
7                   NaN                 Croydon
8                   NaN                  Ealing
9                   NaN                 Enfield
10                  NaN               Greenwich
11                  NaN                 Hackney
12                  NaN  Hammersmith and Fulham
13                  NaN                Haringey
14                  NaN                  Harrow
15                  NaN                Havering
16                  NaN              Hillingdon
17                  NaN                Hounslow
18                  NaN               Islington
19                  NaN  Kensington and Chelsea
20                  NaN    Kingston upon Thames
21                  NaN                 Lambeth
22                  NaN                Lewisham
23                  NaN                  Merton
24                  NaN                  Newham
25                  NaN               Redbridge
26                  NaN    Richmond upon Thames
27                  NaN               Southwark
28                  NaN                  Sutton
29                  NaN           Tower Hamlets
30                  NaN          Waltham Forest
31                  NaN              Wandsworth
32                  NaN             Westminster